:root {
    --black-color: #222222;
    --pink-color: #f1e4e6;
    --dark-pink-color: #F16D7F;
    --grey-color: #F8F8F8;
  }

body {
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
.header {
    background-color: var(--black-color);
}

.header__navigation {
    position: absolute;
    width: 232px;
    height: 764px;
    left: 80%;
    top: 75px;    
    background-color: rgba(255, 255, 255, 1.0);
    z-index:1;
}

.the__cross {
    margin-right: 12px;
    margin-top: 12px;
    float: right;
}

.header__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 34px;
    margin-top: 37px;
    margin-bottom: 24px;
}

.header__sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-decoration: none;
    margin-left: 33px;
}

.header__sublinks a {
    color: #6F6E6E;
    margin-left: 54px;
    text-decoration: none;
}

.header__sublinks {
    margin-bottom: 11px;
    margin-top: 12px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background: transparent;
    border: none;
    margin: 0 33px 0 0;
}

.header__link {
    margin: 0 33px 0 0;   
}

.brand {
    max-width: 1600px;
    display: flex;
    margin: 0 auto 65px auto;
}

.brand__img {
    background-color: var(--pink-color);
}

.brand__title-container {
    background: var(--pink-color);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    /* width: 377px; */
    text-transform: uppercase;
}

.brand__sub-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__pink-sub-title {
    color: var(--dark-pink-color);
}

.promotions__list {
    margin: 0 0 63px;
}

.promotions__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promotions__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
}

.promotions__item--woman {
    background-image: url(../img/promotions-woman.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.promotions__item--man {
    background-image: url(../img/promotions-man.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.promotions__item--kids {
    background-image: url(../img/promotions-kids.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column; 
}

.promotions__item--accessories {
    background-image: url(../img/promotions-accesories.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.promotions__title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.promotions__text {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--dark-pink-color);
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.products__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9F9F9F;
    margin: 6px auto 48px auto;
}

.product__button {
    display: none;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    width: 360px;
}

.product__img {
    display: block;
}

.product__description {
    background-color: var(--grey-color);
    padding: 25px 29px 20px 17px;
    margin: 0 0 30px 0;
}

.product__title {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 13px 0; 
}

.product__text {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 0 0 18px 0;
}

.product__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.products__button {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    margin: 18px auto 95px auto;
    padding: 15px 38px 15px 38px;
    background-color: #FFFFFF;
    position: relative;
    left: 40%;
}

.discount {
    background-color: var(--black-color);
}

.discount__box {
    display: flex;
    justify-content: space-around;
    height: 341px;
    align-items: center;
}

.discount_card {
    text-align: center;
    max-width: 360px;
}

.discount_title {
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: #FBFBFB;
    margin: 28px 0 16px 0;
}

.discount_text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #FBFBFB;
    font-style: normal;
}

.subscribe__block {
    background-image: url(../img/subscribe.png);
    height: 448px;
    max-width: 1600px;
    margin: 0 auto;
}

.subscribe__block-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe__image {
    margin: 86px 0 30px 0;
}

.subscribe__text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    max-width: 359px;
}

.subscribe__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
    margin: 110px auto 0 auto;
}

.subscribe__title-text {
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    margin: auto 0 30px auto;
}

.all__rights-text {
    color: #FBFBFB;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.social__block {
    background-color: var(--black-color);
}

.social__block-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.social__block-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.social__buttons {
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    position: relative;
    margin: auto 7px auto 0;
}

.email__window {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: 0px;
    border-radius: 20px;
    padding-left: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.form__wiew {
    display: flex;
}

.email__button {
    width: 100px;
    height: 49px;
    margin-left: -20px;
    border-radius: 0 20px 20px 0;
    background: #F16D7F;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0px;
}

.registration__header {
    height: 148px;
    background: var(--pink-color);
}

.registration__header-title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding: 59px 0 0 0;
}

.content__block {
    display: flex;
    margin: 64px auto 96px auto;
}

.registration__form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.gender__block {
    display: flex;
}

.label_name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
    color: #222222;
}

.input {
    margin-bottom: 20px;
    height: 45px;
    padding-left: 17px;
}

.gender__block {
    margin-top: 13px;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.radio {
    width: 17px;
    height: 17px;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    margin-top: -2px;
}

.radio__button {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.form__text {
    margin-top: -5px;
    margin-bottom: 39px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.registration__button {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 66px 17px 29px;
    background-color: var(--dark-pink-color);
    width: 60%;
    border: 1px solid #F16D7F;
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: 20px;
}

.offer {
    display: flex;
    flex-direction: column;
    width: 652px;
    margin-left: 128px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.loyalty__text {
    margin: 22px auto 21px auto;
}

.loyalty__bullets {
    padding-bottom: 16px;
    margin-left: 40px;
    position: relative;
}

.loyalty__bullets:before {
    content: "";
    background-image: url(../img/checkmark.svg);
    position: absolute;
    width: 20px;
    height: 16px;
    margin-left: -40px;
    margin-bottom: -5px;
    top: 8px
}