@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

li {
  list-style-type: none;
  /* Убираем маркеры у всех Li */
}

ol, ul {
  padding-left: 0em !important;
  /* Убрал отступ у всех ul. Не знаю откуда он вообще */
}

.input {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header__navigation {
  display: none;
}

.header__cross {
  margin-right: 12px;
  margin-top: 12px;
  float: right;
}

.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 34px;
  margin-top: 37px;
  margin-bottom: 24px;
  text-align: left;
}

.header__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  margin-left: 33px;
}

.header__navigation-list {
  text-align: left;
}

.header__sublinks a {
  color: #6F6E6E;
  margin-left: 54px;
  text-decoration: none;
}

.header__sublinks {
  margin-bottom: 11px;
  margin-top: 12px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 33px 0 0;
}

.header__button:hover + .header__navigation {
  display: block;
}

.header__button:hover .header__button-icon {
  fill: #F16D7F;
}

.header__button:active .header__button-icon {
  fill: #f1e4e6;
}

.header__navigation {
  position: absolute;
  width: 232px;
  height: 764px;
  top: 75px;
  margin-left: 90px;
  background-color: white;
  z-index: 2;
}

@media (max-width: 1600px) {
  .header__navigation {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    margin-left: 10px;
  }
}

.header__link {
  margin: 0 33px 0 0;
}

.header:hover .header__button-icon {
  fill: #F16D7F;
}

.header:active .header__button-icon {
  fill: #f1e4e6;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
  .header__link {
    display: none;
  }
}

.brand {
  max-width: 1600px;
  display: flex;
  margin: 0 auto 65px auto;
}

@media (max-width: 768px) {
  .brand {
    min-height: 363px;
  }
}

.brand__img {
  background-color: #f1e4e6;
}

.brand__title-container {
  background: #f1e4e6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .brand__title-container {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 768px) {
  .brand__title-container {
    padding: 0 0 0 83px;
  }
}

.brand__title {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

@media (max-width: 1600px) {
  .brand__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 52px;
  }
}

@media (max-width: 768px) {
  .brand__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
  }
}

.brand__sub-title {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

@media (max-width: 1600px) {
  .brand__sub-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .brand__sub-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.brand__img {
  width: 48%;
  height: auto;
}

@media (max-width: 768px) {
  .brand__img {
    display: none;
  }
}

.promotions__list {
  margin: 0 0 63px;
}

.promotions__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotions__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
}

@media (max-width: 1600px) {
  .promotions__item {
    width: 31%;
    min-height: 168px;
    margin: 0 0 19px;
  }
}

@media (max-width: 768px) {
  .promotions__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.promotions__item--woman {
  background-image: url(../img/promotions-woman.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.promotions__item--woman:hover {
  background-image: url(../img/promotions-woman-black.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.promotions__item--man {
  background-image: url(../img/promotions-man.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.promotions__item--man:hover {
  background-image: url(../img/promotions-man-black.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.promotions__item--kids {
  background-image: url(../img/promotions-kids.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.promotions__item--kids:hover {
  background-image: url(../img/promotions-kids-black.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.promotions__item--accessories {
  background-image: url(../img/promotions-accesories.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .promotions__item--accessories {
    min-height: 116px;
  }
}

.promotions__title {
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.promotions__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F16D7F;
}

.products__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.products__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  margin: 6px auto 48px auto;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .products__list {
    flex-direction: column;
    align-items: center;
  }
}

.products__item {
  width: 360px;
}

@media (max-width: 375px) {
  .products__item {
    width: 100%;
  }
}

.products__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: 1px solid #FF6A6A;
  margin: 18px auto 95px auto;
  padding: 15px 38px 15px 38px;
  background-color: #FF6A6A;
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .products__button {
    color: #F26376;
    background-color: #FFFFFF;
  }
}

@media (max-width: 768px) {
  .products__button {
    color: #F26376;
    background-color: #FFFFFF;
  }
}

.product__img {
  display: block;
}

@media (max-width: 375px) {
  .product__img {
    width: 100%;
  }
}

.product__description {
  background-color: #F8F8F8;
  padding: 25px 29px 20px 17px;
  margin: 0 0 30px 0;
}

.product__title {
  color: #000000;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 13px 0;
}

.product__text {
  color: #5D5D5D;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 18px 0;
}

.product__price {
  color: #F16D7F;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.product__button {
  display: none;
}

.cart-wrapper-overlay {
  position: relative;
}

.cart-wrapper-overlay:before {
  content: '';
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.product__cart-button {
  position: absolute;
  top: 188px;
  left: 111px;
  width: 138px;
  height: 43px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: rgba(58, 56, 56, 0.86);
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 13px 12px 13px 50px;
}

.product__cart-button:before {
  content: '';
  background-image: url(../img/cart-icon-goods.svg);
  position: absolute;
  left: 13px;
  top: 8px;
  width: 26px;
  height: 24px;
}

.cart-wrapper-overlay:before,
.product__cart-button {
  display: none;
}

.products__item:hover .cart-wrapper-overlay:before,
.products__item:hover .product__cart-button {
  display: block;
}

.discount {
  background-color: #222222;
}

.discount__box {
  display: flex;
  justify-content: space-around;
  height: 341px;
  align-items: center;
}

@media (max-width: 1600px) {
  .discount__box {
    flex-direction: column;
    height: 610px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

@media (max-width: 768px) {
  .discount__box {
    flex-direction: column;
    padding-bottom: 81px;
  }
}

.discount_card {
  text-align: center;
  max-width: 360px;
}

.discount_title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

.discount_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

.subscribe__block {
  background: rgba(244, 244, 244, 0.7);
  background-image: url(../img/subscribe.jpg);
  background-repeat: no-repeat;
  height: 448px;
  width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .subscribe__block {
    background-image: url(../img/subscribe-mob.jpg);
    background-repeat: no-repeat;
    height: 693px;
    width: 768px;
  }
}

@media (max-width: 768px) {
  .subscribe__block {
    background-image: url(../img/subscribe-mob.jpg);
    height: 550px;
    width: 375px;
  }
}

.subscribe__block-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1600px) {
  .subscribe__block-items {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .subscribe__block-items {
    flex-direction: column;
  }
}

.subscribe__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscribe__image {
  margin: 86px 0 30px 0;
}

@media (max-width: 1600px) {
  .subscribe__image {
    margin: 53px 0 30px 0;
  }
}

@media (max-width: 768px) {
  .subscribe__image {
    margin: 54px 0 30px 0;
  }
}

.subscribe__text {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 359px;
}

.subscribe__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #222224;
  margin: 110px auto 0 auto;
}

@media (max-width: 1600px) {
  .subscribe__title {
    margin: 48px auto 0 auto;
  }
}

@media (max-width: 768px) {
  .subscribe__title {
    margin: 59px auto 0 auto;
  }
}

.subscribe__title-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin: auto 0 30px auto;
}

@media (max-width: 1600px) {
  .subscribe__title-text {
    margin: auto 0 27px auto;
  }
}

@media (max-width: 768px) {
  .subscribe__title-text {
    margin: auto 0 27px auto;
  }
}

.all__rights-text {
  color: #FBFBFB;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .all__rights-text {
    display: none;
  }
}

.all__rights-text-mob {
  color: #FBFBFB;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: none;
}

@media (max-width: 768px) {
  .all__rights-text-mob {
    display: block;
  }
}

.social__block {
  background-color: #222222;
}

.social__block-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

@media (max-width: 768px) {
  .social__block-items {
    flex-direction: column;
    height: 143px;
    justify-content: space-around;
  }
}

.social__block-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .social__block-links {
    margin-top: 43px;
  }
}

.social__buttons {
  width: 32px;
  height: 32px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  position: relative;
  margin: auto 7px auto 0;
  left: 6.25%;
  right: 12.5%;
  top: 0%;
  bottom: 8%;
}

.email__window {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: 0px;
  border-radius: 20px;
  padding-left: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__wiew {
  display: flex;
}

.email__button {
  width: 100px;
  height: 49px;
  margin-left: -20px;
  border-radius: 0 20px 20px 0;
  background: #F16D7F;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0px;
}

.registration__header {
  height: 148px;
  background: #f1e4e6;
}

.registration__header-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 59px 0 0 0;
}

@media (max-width: 768px) {
  .registration__header-title {
    text-align: center;
  }
}

.registration__form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

@media (max-width: 768px) {
  .registration__form {
    width: 100%;
  }
}

.registration__form-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 20px;
  color: #222222;
}

.registration__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 24px 17px 29px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  display: flex;
  align-items: center;
}

.content__block {
  display: flex;
  margin: 64px auto 96px auto;
}

@media (max-width: 768px) {
  .content__block {
    flex-direction: column;
  }
}

.gender__block {
  display: flex;
}

.input {
  margin-bottom: 20px;
  height: 45px;
  padding-left: 17px;
}

.gender__block {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-top: 13px;
  margin-bottom: 35px;
}

.radio {
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  margin-top: -2px;
}

.radio__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.form__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: -5px;
  margin-bottom: 39px;
  color: #B1B1B1;
}

.arrow {
  margin-left: 20px;
}

.offer {
  display: flex;
  flex-direction: column;
  width: 652px;
  margin-left: 128px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1600px) {
  .offer {
    margin-left: 22px;
  }
}

@media (max-width: 768px) {
  .offer {
    margin: 40px 0px 0px 0px;
    width: 100%;
  }
}

.offer__header {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 1600px) {
  .offer__header {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 768px) {
  .offer__header {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

.offer__text {
  margin: 22px auto 21px auto;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 1600px) {
  .offer__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 768px) {
  .offer__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

.offer__bullets {
  padding-bottom: 16px;
  margin-left: 40px;
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 1600px) {
  .offer__bullets {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 768px) {
  .offer__bullets {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

.offer__bullets:before {
  content: "";
  background-image: url(../img/checkmark.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  margin-left: -40px;
  margin-bottom: -5px;
  top: 8px;
}

@media (max-width: 1600px) {
  .offer__bullets:before {
    top: 0px;
  }
}

@media (max-width: 768px) {
  .offer__bullets:before {
    top: 0px;
  }
}

.cart__header {
  height: 148px;
  background: #f1e4e6;
}

.cart__header-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 59px 0 0 0;
}

@media (max-width: 768px) {
  .cart__header-title {
    text-align: center;
  }
}

.cart__block {
  display: flex;
  justify-content: space-around;
  margin-top: 96px;
}

@media (max-width: 1600px) {
  .cart__block {
    flex-direction: column;
    margin-top: 59px;
  }
}

@media (max-width: 768px) {
  .cart__block {
    margin-top: 39px;
  }
}

.cart__cart-table {
  display: flex;
  margin-bottom: 40px;
  box-shadow: 10px 15px 20px #E5E5E5;
}

@media (max-width: 768px) {
  .cart__cart-table {
    margin-bottom: 32px;
  }
}

.cart__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

@media (max-width: 1600px) {
  .cart__form {
    width: 360px;
  }
}

@media (max-width: 768px) {
  .cart__form {
    margin-bottom: 0px;
  }
}

.cart__cart-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 200px;
  margin-left: 31px;
  margin-top: 22px;
  margin-bottom: 42px;
}

@media (max-width: 768px) {
  .cart__cart-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 17px;
    margin-top: 13px;
    margin-bottom: 25px;
  }
}

.cart__cart-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 31px;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .cart__cart-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 17px;
    margin-bottom: 4px;
  }
}

.cart__quantity-button {
  width: 43px;
  height: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

@media (max-width: 768px) {
  .cart__quantity-button {
    width: 23px;
    height: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-left: 15px;
  }
}

.cart__text-and-button {
  display: flex;
}

.cart__title-and-cross {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cart__img {
    width: 143px;
    height: 188px;
  }
}

.cart__cart-content {
  width: 390px;
}

@media (max-width: 1600px) {
  .cart__cart-content {
    width: 472px;
  }
}

@media (max-width: 768px) {
  .cart__cart-content {
    width: 214px;
    height: 188px;
  }
}

.cart__cart-cross-img {
  margin-top: 28px;
  margin-right: 22px;
}

@media (max-width: 1600px) {
  .cart__cart-cross-img {
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  .cart__cart-cross-img {
    width: 10px;
    height: 11px;
    margin-top: 17px;
    margin-right: 12px;
  }
}

.cart__shopping-buttons-box {
  display: flex;
  margin-top: 72px;
  margin-bottom: 128px;
  justify-content: space-between;
}

@media (max-width: 1600px) {
  .cart__shopping-buttons-box {
    margin-top: 62px;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .cart__shopping-buttons-box {
    margin-top: 30px;
    margin-bottom: 48px;
  }
}

.cart__shopping-buttons {
  width: 235px;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
}

@media (max-width: 768px) {
  .cart__shopping-buttons {
    width: 174px;
    height: 32px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #575757;
  }
}

.cart__form-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.cart__form-and-checkout-box {
  width: 360px;
  margin-left: 128px;
}

@media (max-width: 1600px) {
  .cart__form-and-checkout-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 128px;
  }
}

@media (max-width: 768px) {
  .cart__form-and-checkout-box {
    flex-direction: column;
    margin-bottom: 96px;
  }
}

.cart__form-button {
  margin-top: 3px;
  width: 100px;
  height: 34px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

@media (max-width: 768px) {
  .cart__form-button {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}

.cart__checkout-box {
  background: #F5F3F3;
  height: 214px;
}

@media (max-width: 1600px) {
  .cart__checkout-box {
    width: 360px;
    margin-left: 15px;
    margin-top: 38px;
  }
}

@media (max-width: 768px) {
  .cart__checkout-box {
    margin: 48px 0 0 0;
  }
}

.cart__sub-total {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 39px;
  padding-right: 34px;
  text-align: right;
}

.cart__grand-total {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  padding: 12px 37px 0px 0px;
}

.cart__hr {
  width: 275px;
  height: 1px;
  color: #E2E2E2;
  margin-left: 40px;
}

@media (max-width: 1600px) {
  .cart__hr {
    align-items: center;
  }
}

.cart__checkout-button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 273px;
  height: 50px;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  position: relative;
  left: 12%;
}

.cart__pink-text {
  color: #F16D7F;
}

.product__header {
  height: 148px;
  background: #f1e4e6;
  align-items: center;
  display: flex;
  position: relative;
}

.product__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .product__header-container {
    flex-direction: column;
  }
}

.product__header-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

@media (max-width: 768px) {
  .product__header-title {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

.product__collection {
  z-index: 2;
  margin-top: -70px;
  position: relative;
  width: 1141px;
  background-color: #FFFFFF;
  text-align: center;
  margin-bottom: 65px;
  border: 1px solid #f4f4f4;
}

@media (max-width: 1600px) {
  .product__collection {
    margin-top: 0px;
  }
}

.product__collection-first-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 64px;
  margin: 0 auto;
}

.product__collection-second-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin: 0 auto;
  margin-bottom: 48px;
}

.product__collection-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  width: 555px;
  font-weight: 300;
  text-align: center;
  color: #5E5E5E;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media (max-width: 1600px) {
  .product__collection-text {
    width: 326px;
  }
}

.product__collection-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin: 0 auto;
  margin-bottom: 65px;
}

.product__collection-hr {
  width: 641px;
  margin: 0 auto;
  border: 1px solid #EAEAEA;
}

.product__collection-button {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: #FFFFFF;
  align-items: center;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 64px;
}

.product__collection-button-img {
  margin-right: 5px;
}

.btn {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
}

@media (max-width: 768px) {
  .btn {
    font-size: 10px !important;
    line-height: 12px !important;
  }
}

.btn-secondary {
  color: #6F6E6E !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

.breadcrumb {
  display: flex;
  margin: 0 33px 0 0;
  margin-bottom: 0rem;
}

@media (max-width: 768px) {
  .breadcrumb {
    margin-bottom: 46px !important;
  }
}

.breadcrumb-item__link {
  color: #636363;
  text-decoration: none;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 17px !important;
}

.breadcrumb-item.aria-current {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #F16D7F;
}

.breadcrumb-item.active {
  color: #F16D7F !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  margin-top: 4px;
}

.carousel-dark {
  width: 1600px;
  height: 777px;
  display: flex;
  margin: 0 auto;
  z-index: 1 !important;
  position: relative !important;
}

@media (max-width: 1600px) {
  .carousel-dark {
    width: 768px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .carousel-dark {
    width: 375px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .d-block {
    background-image: url(../img/product-slider-first-foto-mob.png);
    width: 375px !important;
  }
}

.carousel-control-next-icon {
  background-image: url(../img/slider-right-arrow.svg) no-repeat !important;
}

.carousel-control-prev-icon {
  background-image: url(../img/slider-left.svg) no-repeat !important;
}
/*# sourceMappingURL=style.css.map */