.brand {
    max-width: 1600px;
    display: flex;
    margin: 0 auto 65px auto;

    @include mobile {
        min-height: 363px;
    }
   
    &__img {
        background-color: $pink-color;
    }

    &__title-container {
        background: $pink-color;
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 0 0 0 69px;
        }

        @include mobile {
            padding: 0 0 0 83px;
        }
    }

    &__title {
        text-transform: uppercase;
        @include font (Lato, normal, 900, 48px, 58px);

        @include tablet {
            @include font(Lato, normal, 900, 44px, 52px)
        }

        @include mobile {
            @include font (Lato, normal, 900, 38px, 46px)
        }
    }

    &__sub-title {
        display: block;
        @include font (Lato, normal, 700, 32px, 38px);

        @include tablet {
            @include font(Lato, normal, 700, 24px, 29px)
        }

        @include mobile {
            @include font (Lato, normal, 700, 20px, 24px)
        }
    }

    &__pink-sub-title {
        color: $dark-pink-color;
    }

    &__img {
        width: 48%;
        height: auto;

        @include mobile {
            display: none;
        }
    }
}
