.breadcrumb {
    display: flex;
    margin: 0 33px 0 0;
    margin-bottom: 0rem;
    
    @include mobile {
        margin-bottom: 46px !important;
    }
}

.breadcrumb-item__link {
    color: #636363;
    text-decoration: none;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 17px !important;
}

.breadcrumb-item.aria-current {
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #F16D7F;
}

.breadcrumb-item.active {
    font-family: Lato;
    color: #F16D7F !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    margin-top: 4px;
}