.subscribe {

    &__block {
        background: rgba(244, 244, 244, 0.7);
        background-image: url(../img/subscribe.jpg);
        background-repeat: no-repeat;
        height: 448px;
        width: 1600px;
        margin: 0 auto;

        @include tablet {
            background-image: url(../img/subscribe-mob.jpg);
            background-repeat: no-repeat;
            height: 693px;
            width: 768px;
        }

        @include mobile {
            background-image: url(../img/subscribe-mob.jpg);
            height: 550px;
            width: 375px;
        }  
    }

    &__block-items {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            flex-direction: column;
        }  
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__image {
        margin: 86px 0 30px 0;

        @include tablet {
            margin: 53px 0 30px 0;
        }

        @include mobile {
            margin: 54px 0 30px 0;
        }  
    }

    &__text {
        @include font (Lato, italic, 400, 20px, 24px);
        max-width: 359px;
    }

    &__title {
        @include font (Lato, normal, 700, 24px, 38px);
        color: #222224;
        margin: 110px auto 0 auto;

        @include tablet {
            margin: 48px auto 0 auto;
        }

        @include mobile {
            margin: 59px auto 0 auto;
        }  
    }

    &__title-text {
        @include font (Lato, normal, 400, 18px, 30px);
        color: #222224;
        margin: auto 0 30px auto;

        @include tablet {
            margin: auto 0 27px auto;
        }

        @include mobile {
            margin: auto 0 27px auto;
        }  
    }
}